* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Monserrat', sans-serif;
  font-size: 14px;
}

.container {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 1040px) {
  .container {
    max-width: 1300px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: -20px;
  margin-left: -20px;
}

.navbar__logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  margin-right: -20px;
  margin-left: -20px;
}

.navbar__logo-text {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
}

.navbar__logo {
  margin-left: 20px;
  height: 38px;
  width: 33px;
  background: url("../img/logo-small.svg") no-repeat;
}

.navbar__logo-text span {
  font-weight: bold;
}

.hamburger {
  padding: 15px 0px;
  padding-right: 20px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 33px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
          transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
          transform: translate3d(0, -20px, 0) rotate(-90deg);
}

.site-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  padding: 0;
  margin: 0;
}

.site-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-list__link {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.site-list__link:hover {
  color: #646464;
}

.site-list__link:active {
  color: #b4b4b4;
}

.navbar-wrap--hidden {
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar__logo-block {
    border-bottom: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    margin-top: 25px;
  }
  .hamburger {
    display: none;
  }
  .navbar-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    margin-top: 25px;
  }
  .navbar-wrap--hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__logo-text {
    display: none;
  }
  .navbar__logo {
    margin: 0;
    height: 58px;
    width: 173px;
    background: url("../img/logo-tablet.svg") no-repeat;
  }
  .site-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-list__item {
    padding-left: 20px;
    border-bottom: none;
  }
  .site-list__link {
    font-size: 18px;
    color: #000;
  }
  .site-list__link--active {
    position: relative;
  }
  .site-list__link--active:hover {
    color: black;
  }
  .site-list__link--active::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    width: 100%;
    height: 3px;
    top: 150%;
    left: 0;
  }
}

@media (min-width: 1040px) {
  .navbar {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .navbar-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar__logo {
    width: 200px;
    background-image: url("../img/logo.svg");
  }
  .site-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-list__link {
    font-size: 20px;
    color: white;
  }
  .site-list__link:hover {
    color: #c1ddb1;
  }
  .site-list__link:active {
    color: #94c377;
  }
  .site-list__link--active:hover {
    color: white;
  }
  .site-list__link--active::after {
    background-color: white;
  }
}

.top-page__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-page {
  background: no-repeat url(../img/index-background-mobile.png);
  background-size: cover;
}

.top-page__pack-img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.top-page__headline {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: white;
  padding: 30px 15px 5px 15px;
  margin: 0;
}

.top-page__question {
  width: 100%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 15px 0 25px 0;
}

.top-page__button {
  width: 100%;
  height: 40px;
  max-width: 330px;
  background-color: #68b738;
  text-align: center;
  padding-top: 12px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.top-page__button:hover {
  background-color: #ff953f;
}

.top-page__button:active {
  color: gray;
}

@media (min-width: 768px) {
  .top-page__wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .top-page {
    background: none;
  }
  .top-page__headline {
    color: #000;
    padding-left: 90px;
    font-size: 48px;
    text-align: left;
    width: 500px;
    margin-top: 50px;
  }
  .top-page__question {
    font-size: 18px;
    color: #000;
    text-align: left;
    padding-left: 90px;
  }
  .top-page__pack-img {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 70%;
    max-width: 600px;
    margin-left: auto;
    margin-top: -90px;
  }
  .top-page__button {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    font-size: 18px;
    height: 52px;
    width: 245px;
    padding-top: 15px;
    margin-left: 90px;
  }
}

@media (min-width: 1040px) {
  .page-header {
    height: 100vh;
    max-height: 800px;
    background: url("../img/index-background-desktop.png") no-repeat center;
    background-size: cover;
  }
  .top-page__headline {
    font-size: 60px;
    width: 600px;
    margin-top: 100px;
    padding-left: 40px;
  }
  .top-page__question {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
  }
  .top-page__button {
    margin-left: 40px;
  }
  .top-page__pack-img {
    margin-top: -300px;
    margin-right: -40px;
  }
}

.catalog__block {
  background-color: #f2f2f2;
  margin-top: 25px;
  padding: 25px;
}

.catalog__header {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  margin: 15px;
  font-weight: normal;
  color: #111;
  position: relative;
}

.lose-weight__header::before {
  content: "";
  background-image: url("../img/lose-weight-cat.svg");
  width: 55px;
  height: 55px;
  position: absolute;
  right: 80%;
  bottom: -50%;
}

.weight-gain__header {
  padding-left: 30px;
}

.weight-gain__header::before {
  content: "";
  background-image: url("../img/weight-gain-cat.svg");
  background-size: 65px 55px;
  width: 65px;
  height: 55px;
  position: absolute;
  right: 80%;
  bottom: -50%;
}

.catalog__text {
  font-family: 'Monserrat', sans-serif;
  font-size: 14px;
  padding: 15px 0 25px 0;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 20px;
  color: #444;
}

.catalog__link {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #111;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
}

.catalog__link::after {
  content: "";
  background-image: url("../img/catalog-arrow.svg");
  background-size: 24px 11px;
  width: 24px;
  height: 11px;
  position: absolute;
  display: inline-block;
  margin-left: 10px;
  margin-top: 3px;
}

.catalog__link:hover::after {
  margin-left: 20px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: margin-left;
  transition-property: margin-left;
}

.catalog__link:active {
  opacity: 0.4;
}

.catalog__link:active::after {
  opacity: 0.9;
}

@media (min-width: 768px) {
  .catalog__header {
    font-size: 36px;
    text-align: left;
    margin-left: 0;
  }
  .lose-weight__header::before {
    content: none;
  }
  .lose-weight__header::after {
    content: "";
    background-image: url("../img/lose-weight-cat.svg");
    background-size: 150px 150px;
    width: 150px;
    height: 150px;
    position: absolute;
    display: block;
    right: -10px;
    top: 20%;
  }
  .weight-gain__header::before {
    content: none;
  }
  .weight-gain__header::after {
    content: "";
    background-image: url("../img/weight-gain-cat.svg");
    background-size: 160px 150px;
    width: 160px;
    height: 150px;
    position: absolute;
    display: block;
    right: -10px;
    top: 20%;
  }
  .weight-gain__header {
    padding-left: 0px;
  }
  .catalog__text {
    font-size: 16px;
    max-width: 75%;
    border: none;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .catalog__link {
    font-size: 20px;
  }
  .catalog__link::after {
    margin-left: 20px;
    margin-top: 6px;
  }
  .catalog__link:hover::after {
    margin-left: 40px;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-property: margin-left;
    transition-property: margin-left;
  }
}

@media (min-width: 1040px) {
  .catalog__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 25px;
  }
  .catalog__block {
    margin-right: 25px;
    margin-left: 25px;
    max-width: 700px;
  }
  .catalog__header {
    text-align: center;
  }
  .lose-weight__header::before {
    content: "";
    background-image: url("../img/lose-weight-cat.svg");
    width: 75px;
    height: 75px;
    position: absolute;
    right: 80%;
    bottom: -35%;
  }
  .weight-gain__header {
    padding-left: 30px;
  }
  .weight-gain__header::before {
    content: "";
    background-image: url("../img/weight-gain-cat.svg");
    background-size: 85px 75px;
    width: 85px;
    height: 75px;
    position: absolute;
    right: 80%;
    bottom: -35%;
  }
  .weight-gain__header::after,
  .lose-weight__header::after {
    content: none;
  }
  .catalog__text {
    max-width: 100%;
  }
  .catalog__link:hover:after {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-property: margin-left;
    transition-property: margin-left;
    margin-left: 40px;
  }
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage__pic {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.advantage__text {
  font-family: 'Monserrat', sans-serif;
  font-size: 14px;
  color: #444444;
  margin: 5px 0 5px 20px;
  margin-left: 20px;
}

h2 {
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

@media (min-width: 768px) {
  .hiw__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advantage {
    width: 45%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 400px;
    position: relative;
  }
  .advantage__pic {
    width: 80px;
    height: 80px;
    margin-bottom: 35px;
  }
  .advantage__text {
    margin: 0;
    margin-bottom: 35px;
    min-width: 245px;
    max-width: 330px;
    padding-right: 80px;
  }
  .hiw__advantage1::after {
    content: "1";
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 240px;
    top: -25%;
    right: 0;
    color: #f2f2f2;
    z-index: -1;
  }
  .hiw__advantage2::after {
    content: "2";
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 240px;
    top: -25%;
    right: 0;
    color: #f2f2f2;
    z-index: -1;
  }
  .hiw__advantage3::after {
    content: "3";
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 240px;
    top: -25%;
    right: 0;
    color: #f2f2f2;
    z-index: -1;
  }
  .hiw__advantage4::after {
    content: "4";
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 240px;
    top: -25%;
    right: 0;
    color: #f2f2f2;
    z-index: -1;
  }
  .hiw__advantage3 {
    margin-top: 50px;
  }
  .hiw__advantage4 {
    margin-top: 50px;
  }
  h2 {
    font-size: 60px;
  }
}

@media (min-width: 1040px) {
  .advantage {
    width: 22%;
  }
  .hiw__advantage3 {
    margin-top: 0px;
  }
  .hiw__advantage4 {
    margin-top: 0px;
  }
}

.before-after {
  background-color: #f2f2f2;
}

.before-after__header {
  margin-top: 15px;
  padding-top: 30px;
  margin-bottom: 40px;
}

.before-after__text {
  font-family: 'Monserrat', sans-serif;
  font-size: 14px;
  margin: 0;
  color: #444;
}

.ba-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  height: 72px;
}

.ba-stats__info {
  width: 90px;
  margin: auto;
}

.ba-stats__text {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  margin-top: 10px;
}

.ba-stats__text span {
  font-family: 'Monserrat', sans-serif;
  font-size: 12px;
  margin: 0;
  color: #444;
  text-transform: none;
  width: 60px;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.ba-stats__border {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  height: 56px;
}

.before-after__budget {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  margin-top: 25px;
}

.twentytwenty-wrapper {
  max-width: 550px;
  margin: auto;
  padding-bottom: 40px;
}

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: 0px;
}

.twentytwenty-handle {
  border: 2px solid white;
}

.twentytwenty-right-arrow {
  border-left: 6px solid #68b738;
}

.twentytwenty-left-arrow {
  border-right: 6px solid #68b738;
}

@media (min-width: 768px) {
  .before-after {
    background-color: #fff;
  }
  .before-after__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #fff;
  }
  .before-after__budget {
    width: 190px;
  }
  .ba-stats {
    width: 370px;
  }
  .before-after__budget {
    font-size: 20px;
    text-align: right;
    margin-left: auto;
  }
  .ba-stats__text {
    background-color: #fff;
  }
  .before-after__ch-wrap {
    background-color: #f2f2f2;
    margin-left: -40px;
    margin-right: -40px;
    margin-top: 60px;
    padding-top: 40px;
  }
  .before-after__text {
    font-size: 16px;
  }
}

@media (min-width: 1040px) {
  .before-after__wrap {
    max-width: 35%;
    margin: 0;
  }
  .before-after {
    background-color: #fff;
  }
  .before-after__budget {
    width: 300px;
    text-align: center;
    margin-right: auto;
  }
  .before-after__wrap {
    padding-bottom: 30px;
  }
  .cat-changes {
    margin-top: -400px;
    padding-bottom: 0px;
    margin-right: -200px;
    margin-left: 200px;
  }
  .before-after__ch-wrap {
    background-color: #fff;
  }
  .ba-stats {
    width: 400px;
  }
}

/*.cat-changes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 30px;
}

.cat-changes__button--before,
.cat-changes__button--after {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	background-color: #f2f2f2;
}

.cat-changes__switcher {
	width: 84px;
	position: relative;
}

.cat-changes__scale {
	width: 84px;
	height: 14px;
	position: absolute;
	top: 25%;
}

.cat-changes__switch {
	width: 35px;
	height: 6px;
	margin-top: 4px;
	position: absolute;
	top: 42%;
	left: 6%;
}

.cat-changes img {
	margin: auto;
	
}
.cat-changes__after,
.cat-changes__before {
	display: none;
}
*/
.contacts__map {
  width: 100%;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contacts__header {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contacts__text {
  font-family: 'Monserrat', sans-serif;
  font-size: 14px;
  color: #444444;
  width: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .contacts__header {
    font-size: 20px;
    width: 170px;
  }
  .contacts__text {
    font-size: 16px;
    width: 170px;
  }
}

@media (min-width: 1040px) {
  .contacts__map {
    display: none;
  }
  .contacts {
    background: url("../img/map-desktop.jpg") no-repeat;
    height: 400px;
    background-size: cover;
    position: relative;
  }
  .contacts__info {
    width: 570px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    top: 30%;
  }
  .contacts__header {
    margin: auto 0;
    width: 170px;
  }
  .contacts__text {
    margin: auto 0;
    width: 170px;
  }
}

.page-footer {
  background-color: #f2f2f2;
  margin-top: -5px;
}

.page-footer__logo-text {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 20px;
}

.page-footer__logo-text span {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #d9d9d9;
}

.social__icon {
  height: 30px;
}

.social__vk {
  background: url("../img/social-vk.svg") no-repeat;
  width: 23px;
  margin-top: 12px;
}

.social__inst {
  background: url("../img/social-inst.svg") no-repeat;
  width: 17px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.social__fb {
  background: url("../img/social-fb.svg") no-repeat;
  width: 9px;
  margin-top: 10px;
}

.academy {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.academy__link {
  font-family: 'Monserrat', sans-serif;
  font-size: 14px;
  color: #444444;
  text-decoration: none;
  margin-top: 17px;
}

.academy__logo {
  width: 27px;
}

.social__vk:hover {
  background: url("../img/social-vk-hover.svg") no-repeat;
}

.social__inst:hover {
  background: url("../img/social-inst-hover.svg") no-repeat;
}

.social__fb:hover {
  background: url("../img/social-fb-hover.svg") no-repeat;
}

@media (min-width: 768px) {
  .page-footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social,
  .page-footer__logo-text {
    border: none;
  }
  .academy {
    width: 170px;
  }
  .page-footer__logo-text {
    margin-top: 10px;
    font-size: 25px;
  }
  .page-footer__logo-text span {
    font-size: 25px;
  }
  .social__vk {
    width: 35px;
  }
  .social__inst {
    width: 25px;
  }
  .social__fb {
    width: 15px;
  }
}
/*# sourceMappingURL=style.css.map */