.before-after {
	background-color: #f2f2f2;
}

.before-after__header {
	margin-top: 15px;
	padding-top: 30px;
	margin-bottom: 40px;
}

.before-after__text {
	font-family: 'Monserrat', sans-serif;
	font-size: 14px;
	margin: 0;
	color: #444;
}

.ba-stats {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	height: 72px;
}

.ba-stats__info {
	width: 90px;
	margin: auto;
}

.ba-stats__text {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	background-color: #f2f2f2;
	margin: 0;
	margin-top: 10px;
}

.ba-stats__text span {
	font-family: 'Monserrat', sans-serif;
	font-size: 12px;
	margin: 0;
	color: #444;
	text-transform: none;
	width: 60px;
	display: inline-block;
	text-align: center;
	margin-top: 10px;
	
}

.ba-stats__border {
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	width: 124px;
	height: 56px;
}

.before-after__budget {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	margin-top: 25px;
}

.twentytwenty-wrapper {
	max-width: 550px;
	margin: auto;
	padding-bottom: 40px;
}

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
	width: 0px;
}

.twentytwenty-handle {

	border: 2px solid white;
}

.twentytwenty-right-arrow{
	border-left: 6px solid #68b738;
}

.twentytwenty-left-arrow {
	border-right: 6px solid #68b738;
}

@media (min-width: 768px) {
.before-after {
	background-color: #fff;
}

.before-after__wrap{
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
}

.before-after__budget {
	width: 190px;
}

.ba-stats {
	width: 370px;
}

.before-after__budget {
	font-size: 20px;
	text-align: right;
	margin-left: auto;
}

.ba-stats__text {
	background-color: #fff;
}

.before-after__ch-wrap {
	background-color: #f2f2f2;
	margin-left: -40px;
	margin-right: -40px;
	margin-top: 60px;
	padding-top: 40px;
}

.before-after__text {
	font-size: 16px;
}
}

@media (min-width: 1040px) {
.before-after__wrap {
	max-width: 35%;
	margin: 0;
}

.before-after {
background-color: #fff;
}

.before-after__budget {
	width: 300px;
	text-align: center;
	margin-right: auto;
}

.before-after__wrap {
	padding-bottom: 30px; 
}

.cat-changes {
	margin-top: -480px;
	padding-bottom: 0px;
	margin-right: -200px;
	margin-left: 200px;
	
}

.before-after__ch-wrap {
	background-color: #fff;
}

.ba-stats {
	width: 400px
}
}
