.advantage {
	display: flex;
}

.advantage__pic {
	width: 60px;
	height: 60px;
	margin-bottom: 20px;
}

.advantage__text {
	font-family: 'Monserrat', sans-serif;
	font-size: 14px;
	color: #444444;
	margin: 5px 0 5px 20px;
	margin-left: 20px;
}

h2 {
	font-size: 36px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}

//Стили для планшета

@media (min-width: 768px) {
.hiw__wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.advantage {
	width: 40%;
	flex-wrap: wrap;
	max-width: 400px;
	position: relative;
}

.advantage__pic {
	width: 80px;
	height: 80px;
	margin-bottom: 35px;
}

.advantage__text {
	margin: 0;
	margin-bottom: 35px;
	min-width: 245px;
	max-width: 330px;
	padding-right: 80px;
}

.hiw__advantage1::after {
	content: "1";
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-size: 240px;
	top: -25%;
	right: 0;
	color: #f2f2f2;
	z-index: -1;
}

.hiw__advantage2::after {
	content: "2";
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-size: 240px;
	top: -25%;
	right: 0;
	color: #f2f2f2;
	z-index: -1;
}

.hiw__advantage3::after {
	content: "3";
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-size: 240px;
	top: -25%;
	right: 0;
	color: #f2f2f2;
	z-index: -1;
}

.hiw__advantage4::after {
	content: "4";
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-size: 240px;
	top: -25%;
	right: 0;
	color: #f2f2f2;
	z-index: -1;
}

.hiw__advantage3 {
	margin-top: 50px;
}

.hiw__advantage4 {
	margin-top: 50px;
}

h2 {
	font-size: 60px;
}
}

//Стили для десктоп

@media (min-width: 1300px) {
.advantage {
	width: 20%;
}
.hiw__advantage3 {
	margin-top: 0px;
}

.hiw__advantage4 {
	margin-top: 0px;
}
}